In [203]:
import pandas as pd
import altair as alt
alt.renderers.set_embed_options(theme='dark')

RendererRegistry.enable('default')

In [204]:
def claim(claim_hash):
    df = pd.read_json(
            f"https://api.flipsidecrypto.com/api/v2/queries/{claim_hash}/data/latest",
            convert_dates=["BLOCK_TIMESTAMP"])
    df.columns = [c.lower() for c in df.columns]
    return df

In [205]:
def get_url(url):
    return pd.read_csv(url, index_col=0)

In [206]:
refract = 'c5ac5e60-7da0-429f-98e8-19ccdd77d835'
ystaking = '3ff0fc49-5a0d-4cdf-a8ab-33f8ea7e755f'
swaps = 'a3b3ad75-15b2-4a40-9850-00e8c1c33ef0'
router = '69b149fb-81ba-4860-aac1-b17f0d6d7688'

refract_df = claim(refract)
ystaking_df = claim(ystaking)
swaps_df = claim(swaps)
router_df = claim(router)

refract_df.to_csv('../data/refract.csv')
ystaking_df.to_csv('../data/ystaking.csv')
swaps_df.to_csv('../data/swaps.csv')
router_df.to_csv('../data/router.csv')

In [207]:
refract_df = pd.read_csv('../data/refract.csv', index_col=0)
ystaking_df = pd.read_csv('../data/ystaking.csv', index_col=0)
swaps_df = pd.read_csv('../data/swaps.csv', index_col=0)
router_df = pd.read_csv('../data/router.csv', index_col=0)

### Refract

In [208]:
refraact_df['user'] = refract_df.apply(lambda row: row.from_ if row['0_action']=='bond_split' else row.to_, axis=1)

In [209]:
refract_df.head()

,0_action,0_amount,1_amount,1_contract_address,2_amount,2_contract_address,3_contract_address,block_timestamp,event_index,from_,msg_index,to_,tx_id,bonded,minted,user
0,burn_from,53.133755,53.133755,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,53.133755,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,NaN,2022-02-20 09:21:47.745,1,terra1dp3vua0fx6dxf5usz59tnegfauvhqy9c4hxpat,2,terra1dp3vua0fx6dxf5usz59tnegfauvhqy9c4hxpat,A1E4133D3AA33B0660D4E72CEA22AD7D7AFAAF9EE5D8A5D07D1EF3A719084EA1,NaN,NaN,terra1dp3vua0fx6dxf5usz59tnegfauvhqy9c4hxpat
1,burn_from,0.724283,0.724283,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,0.724283,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,NaN,2022-02-20 08:53:17.962,1,terra1z4dwj5r57ndz4mvl2ncepvjvtjsazrqg8clxtm,2,terra1z4dwj5r57ndz4mvl2ncepvjvtjsazrqg8clxtm,B7B6177A9DB72F2925D8D2EA58178802D0E18251143226547AE66D94906787F3,NaN,NaN,terra1z4dwj5r57ndz4mvl2ncepvjvtjsazrqg8clxtm
2,burn_from,116.784559,116.784559,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,116.784559,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,NaN,2022-02-20 07:34:45.951,1,terra19up4g69n2nj8n4gpt8l6l69wj0f206cvrmxlhy,4,terra19up4g69n2nj8n4gpt8l6l69wj0f206cvrmxlhy,DB2D996656A00D3DF39F97014FB7960B3BEF9A7C2B16046721C3F62E85955307,NaN,NaN,terra19up4g69n2nj8n4gpt8l6l69wj0f206cvrmxlhy
3,burn_from,1130.205129,1130.205129,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,1130.205129,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,NaN,2022-02-20 05:05:16.698,1,terra10pa0qv7mrqst053zhv9hxxt9mwhmr45ggguygs,2,terra10pa0qv7mrqst053zhv9hxxt9mwhmr45ggguygs,B755505E2C2E5173AFACE6671A3D8CEB1D19C301E4A425A6DD81E2823B6A4532,NaN,NaN,terra10pa0qv7mrqst053zhv9hxxt9mwhmr45ggguygs
4,burn_from,3.000000,3.000000,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,3.000000,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,NaN,2022-02-20 02:54:38.357,1,terra1k4730fpeszmcjkvqy7ljwq4y4ngfw3aa7fthlw,2,terra1k4730fpeszmcjkvqy7ljwq4y4ngfw3aa7fthlw,D874405E0AFCD3DBE09D3C57E892A96E93FB7C788B90485E636D0600AF792C1D,NaN,NaN,terra1k4730fpeszmcjkvqy7ljwq4y4ngfw3aa7fthlw

In [210]:
refract_df[refract_df.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,0_action,0_amount,1_amount,1_contract_address,2_amount,2_contract_address,3_contract_address,block_timestamp,event_index,from_,msg_index,to_,tx_id,bonded,minted,user
3573,bond_split,7.976801,7.976801,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,7.976801,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 17:40:44.210,4,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,0,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A078CEB4AA3B1AEF862,7.976801,7.976801,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q

In [211]:
refract_df_pol = refract_df[['block_timestamp','tx_id','user','0_action','0_amount']]
refract_df_pol.columns = ['block_timestamp','tx_id','user','action','amount']

In [212]:
refract_df_pol['asset_given'] = refract_df_pol.apply(lambda row: 'LUNA' if row['action']=='bond_split' else 'pLUNA',axis=1)
refract_df_pol['asset_received'] = refract_df_pol.apply(lambda row: 'pLUNA' if row['action']=='bond_split' else 'LUNA',axis=1)

<ipython-input-212-9b7ae5c0b6df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['asset_given'] = refract_df_pol.apply(lambda row: 'LUNA' if row['action']=='bond_split' else 'pLUNA',axis=1)
<ipython-input-212-9b7ae5c0b6df>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['asset_received'] = refract_df_pol.apply(lambda row: 'pLUNA' if row['action']=='bond_split' else 'LUNA',axis=1)

In [213]:
df = refract_df_pol[refract_df_pol["action"]=='bond_from'].copy()
df['asset_given'] = 'yLUNA'
refract_df_pol = refract_df_pol.append(df)
df = refract_df_pol[refract_df_pol["action"]=='bond_split'].copy()
df['asset_received'] = 'yLUNA'
refract_df_pol = refract_df_pol.append(df)

In [214]:
refract_df_pol['operation'] = 'refraction'

In [215]:
refract_df_pol[refract_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation
3573,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A078CEB4AA3B1AEF862,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,bond_split,7.976801,LUNA,pLUNA,refraction
3573,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A078CEB4AA3B1AEF862,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,bond_split,7.976801,LUNA,yLUNA,refraction

### yStaking

In [216]:
ystaking_df.head()

,0_action,0_amount,1_action,1_amount,block_timestamp,event_index,from_,msg_index,to_,tx_id
0,unbond,200.000000,transfer,200.000000,2022-02-15 13:59:48.491,1,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,0,terra13l7ymly4nx8vjy2na5nsuk8lp8vutnphfv0r5e,72CA68A5CC951093F88D2F4E712F6FD31030B35747EF2C07FB8066AE2B462D2F
1,send,1254.626683,bond,1254.626683,2022-02-15 23:40:56.694,1,terra1v9gf2u67hcpkx0gj8f7venm6u6299gu5jplkh4,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,B7DB1CD826717B4ABA4C8786AD29582E2812EAB53BDE829A8589FC0796813C0F
2,send,0.424018,bond,0.424018,2022-02-15 17:41:47.851,1,terra1khrkacw92zq9fff6hqxm5kld8evsqheet73xdq,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,C4A5FBC39766075AF84F9F80386AB43BB3F1026E768A94030C259D64DF87AAC4
3,send,55.881286,bond,55.881286,2022-02-15 14:59:23.440,1,terra14qrgpcy5gpcuf9y8tvmqvarx5ptelc5989vfkj,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,2B07E00AB91B776950DBBDF71CC769651D14D5F5C4116752E6E5DCAD4E1F8FE4
4,send,1.000000,bond,1.000000,2022-02-15 11:21:35.311,1,terra1gf5hakg529zn4z50g7sv5ty8wfg0hfvlp5mpdv,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,33F7D554AEDB152CF2881619C81A034A318968E8A1DDE6C865967C11C112EC7A

In [217]:
ystaking_df['action'] = ystaking_df.apply(lambda row: row['0_action'] if row['0_action']=='unbond' else row['1_action'],axis=1)
ystaking_df['amount'] = ystaking_df.apply(lambda row: row['0_amount'] if row['0_action']=='unbond' else row['1_amount'],axis=1)
ystaking_df['user'] = ystaking_df.apply(lambda row: row['to_'] if row.action=='unbond' else row['from_'],axis=1)
ystaking_df['asset_given'] = ystaking_df.apply(lambda row: None if row.action=='unbond' else 'yLUNA',axis=1)
ystaking_df['asset_received'] = ystaking_df.apply(lambda row: 'yLUNA' if row.action=='unbond' else None,axis=1)

In [218]:
ystaking_df[ystaking_df.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,0_action,0_amount,1_action,1_amount,block_timestamp,event_index,from_,msg_index,to_,tx_id,action,amount,user,asset_given,asset_received
929,send,7.976801,bond,7.976801,2022-02-14 17:41:29.754,1,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,F57D159639C653A2ECB50D47449EF53B73B7021A4852E4A9C60A8499624F3585,bond,7.976801,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,yLUNA,None

In [219]:
ystaking_df_pol = ystaking_df[['block_timestamp','user','tx_id','amount','action','asset_given','asset_received']]
ystaking_df_pol

,block_timestamp,user,tx_id,amount,action,asset_given,asset_received
0,2022-02-15 13:59:48.491,terra13l7ymly4nx8vjy2na5nsuk8lp8vutnphfv0r5e,72CA68A5CC951093F88D2F4E712F6FD31030B35747EF2C07FB8066AE2B462D2F,200.000000,unbond,None,yLUNA
1,2022-02-15 23:40:56.694,terra1v9gf2u67hcpkx0gj8f7venm6u6299gu5jplkh4,B7DB1CD826717B4ABA4C8786AD29582E2812EAB53BDE829A8589FC0796813C0F,1254.626683,bond,yLUNA,None
2,2022-02-15 17:41:47.851,terra1khrkacw92zq9fff6hqxm5kld8evsqheet73xdq,C4A5FBC39766075AF84F9F80386AB43BB3F1026E768A94030C259D64DF87AAC4,0.424018,bond,yLUNA,None
3,2022-02-15 14:59:23.440,terra14qrgpcy5gpcuf9y8tvmqvarx5ptelc5989vfkj,2B07E00AB91B776950DBBDF71CC769651D14D5F5C4116752E6E5DCAD4E1F8FE4,55.881286,bond,yLUNA,None
4,2022-02-15 11:21:35.311,terra1gf5hakg529zn4z50g7sv5ty8wfg0hfvlp5mpdv,33F7D554AEDB152CF2881619C81A034A318968E8A1DDE6C865967C11C112EC7A,1.000000,bond,yLUNA,None
...,...,...,...,...,...,...,...
3450,2022-02-18 09:38:35.643,terra1vc9t2npuvu8a28up64d93zp5556wk2kaf5r2zt,2C4F8F1CFB8F761234C19158E735D7CE671D733AC43EBDEBC74F4DA83398E2FA,500.000000,bond,yLUNA,None
3451,2022-02-18 09:44:28.611,terra1kmhpjxa3kmftp6k0yedm00crfedlem0x5xddnr,CCA7A675215B8182EAFBFE7121F80EEF37D7BEB1890F20A3A7274FDE4A8983ED,187.323329,bond,yLUNA,None
3452,2022-02-18 09:36:51.777,terra1q6lqur6rpwcyh65fql92v45emyufv7k0epgp9r,24F0A8EC4B4566D1F366404056C483D6BA9FA173956DC932A0B337F40865B896,2.779899,bond,yLUNA,None
3453,2022-02-18 09:21:18.164,terra1vk5htg6e3nat9v854zs2c28vsgyadgah5vzh4m,ED9D370EEAD5C8B216BA52EF04E781BCD356EB7F7807DDE709AA6B9B26687937,28.988492,unbond,None,yLUNA
3454,2022-02-18 10:07:06.594,terra14uf7na30d7q7e93z0sxjaezy3lsuc60c7s907y,C53DD01E3C6A38C7A60846DC43731E7D697379224C1FB301FB849CF306D66748,37.325799,bond,yLUNA,None

In [220]:
ystaking_df_pol['operation'] = 'ystaking'

<ipython-input-220-3d6fe4e5b189>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ystaking_df_pol['operation'] = 'ystaking'

In [221]:
ystaking_df_pol[ystaking_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp,user,tx_id,amount,action,asset_given,asset_received,operation
929,2022-02-14 17:41:29.754,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,F57D159639C653A2ECB50D47449EF53B73B7021A4852E4A9C60A8499624F3585,7.976801,bond,yLUNA,None,ystaking

### Swaps

In [222]:
pd.set_option('display.max_colwidth', 255)
swaps_df = swaps_df[swaps_df.ask_asset != '']
swaps_df = swaps_df[swaps_df.sender.notna()]
swaps_df_pol = swaps_df.rename(columns={'sender':'user','ask_asset':'asset_received','offer_asset':'asset_given'})
swaps_df_pol = swaps_df_pol[['block_timestamp','tx_id','price','user','asset_received','return_amount','asset_given','offer_amount']]
swaps_df_pol.head()

,block_timestamp,tx_id,price,user,asset_received,return_amount,asset_given,offer_amount
0,2022-02-20 09:37:44.271,A577CF526E5D52DB324A4914E50345369D8400CBDCA359CB95DDAA972442BB43,NaN,terra12glyg2am7ttfwrypv4phz340x84f728cm7pa53,NaN,NaN,NaN,NaN
1,2022-02-20 06:44:37.241,C152C609E3870BFF89E419067AFFC4DD47B3D2C4A90BBEAD1E6D21A10385529F,1.026657,terra1nqdzxdn9nswy2ak3r82eudc4uh3fzx87jg2uhs,PRISM,301.269066,xPRISM,309.300000
2,2022-02-20 07:11:10.307,6DCC8DE2948B5942DBCB5F7CE40B3D88927E14BC2E962FA8ECBAB1AB84FF5ACE,NaN,terra1gpqalumaqz97h0nqyqtxf85cwte37l6hps03mt,NaN,NaN,NaN,NaN
3,2022-02-20 06:42:27.207,6BC45A2B96C347202299339FC02A2B48ECB277C4974282D0455515DD0D26C3C3,1.024156,terra1ptcd8vrek370fx6quef05am0n0839a2w7w279q,PRISM,17678.687227,xPRISM,18105.738733
4,2022-02-20 05:59:11.333,B088BBD3C7722C19525EC9DC6370C95B8FABAC6BF59528DA74A69B59B1F56F8D,0.986559,terra1fepcd7cj4g77gv28vvm6nfhqc97nqgsd5qpyqn,xPRISM,1976.999999,PRISM,1950.426836

In [223]:
swaps_df_pol['operation'] = 'swap'

### Router

In [224]:
router_df = router_df.rename(columns={'sender':'user'})
router_df_1 = router_df[['block_timestamp','tx_id','0_ask_asset','0_offer_amount','0_offer_asset','0_price','0_return_amount','user']]
router_df_1 = router_df_1.rename(columns={'0_ask_asset':'asset_received','0_offer_amount':'offer_amount',
                           '0_price':'price','0_return_amount':'return_amount','0_offer_asset':'asset_given'})
router_df_1

,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,user
0,2022-02-20 06:14:57.002,A3467AA84D7A82946F0D2106BE2C13F7D3667CCA2397AF7E25B8B41A54583759,PRISM,10.000000,UST,0.325811,30.692599,terra1ey0tpp3uxgruu4ameu7kqa4m8jk42uvrrwx2ku
1,2022-02-20 06:05:06.692,C5FCEB25507DEFE2FF4EC2DDCC12BE9B7722679C6E628E65181E703AF1EEC144,PRISM,1000.000000,UST,0.325744,3069.898424,terra17f3e8gzl446eyf02ux3fdph67dtlx8upuuw57h
2,2022-02-20 05:54:58.241,A5B415D2C9B1D77A08A86CAE4A2971484B06246EC3AB459EB054304348B7D270,PRISM,228.782839,xPRISM,1.019998,224.297373,terra167yajzyme0hhqrnylcuz0vwx6azgsjm2h4ch58
3,2022-02-20 05:13:09.566,05C441AA02985D6C48ABB92022CE18DB44A67F5C63CE95F4F81344D40696AF0B,PRISM,3.000000,LUNA,0.006999,428.658128,terra1rj627ddw7209q3p6r5l8n98we2nsymm658t5lf
4,2022-02-20 04:40:46.295,20FC5A05C8689E41BB439ACBAD24C4DE1A0DF6041E59D023923A91258A64F16E,PRISM,9.114547,LUNA,0.007009,1300.338609,terra1wyjrkw4nhrykfd9f2verj7yqepqxq8rsuzyeu8
...,...,...,...,...,...,...,...,...
11007,2022-02-20 07:45:21.370,F7C72CBC2141AAF8F82658D8D8B719FEFAC95090177EBD817E244FAD2BB4DEA5,PRISM,10000.000000,UST,0.322204,31036.277644,terra1rt4tuw8s7qxg24c2e00z8m8lpygeszpn5n8sch
11008,2022-02-20 07:38:18.901,CEAC3D05AED51C26153EDC4F39F6F64EC5B62E84EF3DC39A5ED2B5967A5C756E,PRISM,25.000000,LUNA,0.006781,3686.601078,terra1a3vyjxv5kvqmsnvvd4lzvrnqx4plfuga3ftcjm
11009,2022-02-20 08:15:11.384,7E0021343B6BEE796D87A65889EE6A93BEFE95D9E7C8C8455E9DB1BC2900CF3B,PRISM,7.368538,yLUNA,0.009362,787.063005,terra1qa6yva4vvt7yek9gpk4d8v7pfascq3rk6e7m0u
11010,2022-02-20 08:10:08.136,2AB81F13ADD3994A3E0E5DD1B0E043AA5C478F5C4967AD89BE3170CE600AF7E0,PRISM,39.350000,LUNA,0.006741,5837.038189,terra1pv9cl6m8ddhqnxl9r0m5nltxmfw2lrm9hqwrdm
11011,2022-02-20 07:36:57.698,BAF405E91150D6DDAE0C7186350F52E8C844BE96BC9669599C341AB0E0D53C97,PRISM,25.000000,LUNA,0.006778,3688.670076,terra1a3vyjxv5kvqmsnvvd4lzvrnqx4plfuga3ftcjm

In [225]:
router_df_2 = router_df[['block_timestamp','tx_id','1_ask_asset','1_offer_amount','1_offer_asset','1_price','1_return_amount','user']]
router_df_2 = router_df_2.rename(columns={'1_ask_asset':'asset_received','1_offer_amount':'offer_amount',
                           '1_price':'price','1_return_amount':'return_amount','1_offer_asset':'asset_given'})
router_df_2

,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,user
0,2022-02-20 06:14:57.002,A3467AA84D7A82946F0D2106BE2C13F7D3667CCA2397AF7E25B8B41A54583759,xPRISM,30.692599,PRISM,0.985317,31.149987,terra1ey0tpp3uxgruu4ameu7kqa4m8jk42uvrrwx2ku
1,2022-02-20 06:05:06.692,C5FCEB25507DEFE2FF4EC2DDCC12BE9B7722679C6E628E65181E703AF1EEC144,pLUNA,3069.898424,PRISM,37.784009,81.248616,terra17f3e8gzl446eyf02ux3fdph67dtlx8upuuw57h
2,2022-02-20 05:54:58.241,A5B415D2C9B1D77A08A86CAE4A2971484B06246EC3AB459EB054304348B7D270,LUNA,224.297373,PRISM,145.763877,1.538772,terra167yajzyme0hhqrnylcuz0vwx6azgsjm2h4ch58
3,2022-02-20 05:13:09.566,05C441AA02985D6C48ABB92022CE18DB44A67F5C63CE95F4F81344D40696AF0B,cLUNA,428.658128,PRISM,143.200942,2.993403,terra1rj627ddw7209q3p6r5l8n98we2nsymm658t5lf
4,2022-02-20 04:40:46.295,20FC5A05C8689E41BB439ACBAD24C4DE1A0DF6041E59D023923A91258A64F16E,UST,1300.338609,PRISM,2.931072,443.639310,terra1wyjrkw4nhrykfd9f2verj7yqepqxq8rsuzyeu8
...,...,...,...,...,...,...,...,...
11007,2022-02-20 07:45:21.370,F7C72CBC2141AAF8F82658D8D8B719FEFAC95090177EBD817E244FAD2BB4DEA5,pLUNA,31036.277644,PRISM,38.438622,807.424309,terra1rt4tuw8s7qxg24c2e00z8m8lpygeszpn5n8sch
11008,2022-02-20 07:38:18.901,CEAC3D05AED51C26153EDC4F39F6F64EC5B62E84EF3DC39A5ED2B5967A5C756E,pLUNA,3686.601078,PRISM,35.774516,103.051040,terra1a3vyjxv5kvqmsnvvd4lzvrnqx4plfuga3ftcjm
11009,2022-02-20 08:15:11.384,7E0021343B6BEE796D87A65889EE6A93BEFE95D9E7C8C8455E9DB1BC2900CF3B,LUNA,787.063005,PRISM,148.136947,5.313077,terra1qa6yva4vvt7yek9gpk4d8v7pfascq3rk6e7m0u
11010,2022-02-20 08:10:08.136,2AB81F13ADD3994A3E0E5DD1B0E043AA5C478F5C4967AD89BE3170CE600AF7E0,cLUNA,5837.038189,PRISM,145.878092,40.013124,terra1pv9cl6m8ddhqnxl9r0m5nltxmfw2lrm9hqwrdm
11011,2022-02-20 07:36:57.698,BAF405E91150D6DDAE0C7186350F52E8C844BE96BC9669599C341AB0E0D53C97,pLUNA,3688.670076,PRISM,35.596940,103.623234,terra1a3vyjxv5kvqmsnvvd4lzvrnqx4plfuga3ftcjm

In [226]:
router_df_pol = router_df_1.append(router_df_2)
router_df_pol['operation'] = 'swap'

In [227]:
router_df_pol[router_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q'].sort_values(by='block_timestamp')

,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,user,operation
10653,2022-02-14 17:51:59.850,1C1C9A30984C8BC305D9A7060D82172C0839CDF7F429520FB60B19AE5CAAE0C7,PRISM,7.976801,pLUNA,0.014206,561.523230,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,swap
10653,2022-02-14 17:51:59.850,1C1C9A30984C8BC305D9A7060D82172C0839CDF7F429520FB60B19AE5CAAE0C7,xPRISM,561.523230,PRISM,0.990640,566.828750,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,swap
7224,2022-02-16 20:03:48.684,BBDFC7AAEDEA680981AFD0AB8100F5DFE61A32061749F5555C802E0732DBB42E,PRISM,5.000000,UST,0.397839,12.567902,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,swap
7224,2022-02-16 20:03:48.684,BBDFC7AAEDEA680981AFD0AB8100F5DFE61A32061749F5555C802E0732DBB42E,xPRISM,12.567902,PRISM,0.981862,12.800075,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,swap
1207,2022-02-17 20:13:04.417,13D0174EF87FF0967B18D694EA69843F793D45322636102C2D93CF5093170B38,PRISM,15.000000,UST,0.352221,42.586950,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,swap
1207,2022-02-17 20:13:04.417,13D0174EF87FF0967B18D694EA69843F793D45322636102C2D93CF5093170B38,xPRISM,42.586950,PRISM,0.989143,43.054377,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,swap

In [228]:
swaps_df_all = router_df_pol.append(swaps_df_pol[router_df_pol.columns])

### Refracting

In [229]:
rdf = refract_df_pol
#[refract_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']
ydf = ystaking_df_pol
#[ystaking_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']
sdf = swaps_df_pol
#[swaps_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']
rtdf = router_df_pol
#[router_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

**How many users have refracted?**

In [230]:
rdf.user.nunique()

1960

**How many Luna have been refracted**

In [231]:
rdf.amount.sum()

2036592.076368

**How many Luna refracting tx?**

In [232]:
rdf.tx_id.nunique()

4303

**What do people do after refracting?**

**Stake yLuna?**

In [271]:
dfx = rdf.merge(ydf, on=['user'])

delta = (pd.to_datetime(dfx.block_timestamp_y)-pd.to_datetime(dfx.block_timestamp_x))
delta = (delta.dt.days*24*60*60+delta.dt.seconds/60)

dfx['delta'] = delta
dfx = dfx[(dfx['asset_given_y'] == dfx['asset_received_x'])]\
                [['block_timestamp_x','tx_id_x','tx_id_y','block_timestamp_y','user','operation_x',
                  'operation_y','asset_given_x','asset_received_x','asset_given_y','asset_received_y','delta']]

dfx_min_delta = dfx[(dfx.delta>0)&(dfx.delta<120)].groupby('tx_id_x').delta.min().reset_index()
dfx = dfx.merge(dfx_min_delta, on=['tx_id_x','delta'])
dfx[dfx.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp_x,tx_id_x,tx_id_y,block_timestamp_y,user,operation_x,operation_y,asset_given_x,asset_received_x,asset_given_y,asset_received_y,delta
1490,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A078CEB4AA3B1AEF862,F57D159639C653A2ECB50D47449EF53B73B7021A4852E4A9C60A8499624F3585,2022-02-14 17:41:29.754,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,refraction,ystaking,LUNA,yLUNA,yLUNA,None,0.75

In [274]:
d = dfx.groupby('tx_id_x').tx_id_y.count()
assert len(d[d>1]) == 0

In [275]:
dfx.tx_id_x.nunique()/rdf.tx_id.nunique()*100

38.252382059028584

**Swaps?**

In [280]:
dfx = rdf.merge(swaps_df_all, on=['user'])

delta = (pd.to_datetime(dfx.block_timestamp_y)-pd.to_datetime(dfx.block_timestamp_x))
delta = (delta.dt.days*24*3660+delta.dt.seconds/60)
dfx['delta'] = delta

dfx = dfx[(dfx['asset_given_y'] == dfx['asset_received_x'])]\
                [['block_timestamp_x','tx_id_x','tx_id_y','block_timestamp_y','user','operation_x',
                  'operation_y','asset_given_x','asset_received_x','asset_given_y','asset_received_y','delta']]

dfx_min_delta = dfx[(dfx.delta>0)&(dfx.delta<120)].groupby('tx_id_x').delta.min().reset_index()
dfx = dfx.merge(dfx_min_delta, on=['tx_id_x','delta'])

dfx[dfx.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp_x,tx_id_x,tx_id_y,block_timestamp_y,user,operation_x,operation_y,asset_given_x,asset_received_x,asset_given_y,asset_received_y,delta
1673,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A078CEB4AA3B1AEF862,1C1C9A30984C8BC305D9A7060D82172C0839CDF7F429520FB60B19AE5CAAE0C7,2022-02-14 17:51:59.850,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,refraction,swap,LUNA,pLUNA,pLUNA,PRISM,11.25

In [287]:
dfxx = dfx.merge(rtdf, on=['user'], how='outer')
delta = (pd.to_datetime(dfxx.block_timestamp)-pd.to_datetime(dfxx.block_timestamp_y))
delta = (delta.dt.days*24*3600+delta.dt.seconds/60)
dfxx['delta1'] = delta

dfxx = dfxx[(dfxx['asset_given'] == dfxx['asset_received_y'])]

dfxx_min_delta = dfxx[(dfxx.delta1>=0)&(dfxx.delta1<120)].groupby('tx_id_y').delta1.min().reset_index()
dfxx = dfxx.merge(dfxx_min_delta, on=['tx_id_y','delta1'])

dfxx[dfxx.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp_x,tx_id_x,tx_id_y,block_timestamp_y,user,operation_x,operation_y,asset_given_x,asset_received_x,asset_given_y,...,delta,delta1,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,operation
982,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A078CEB4AA3B1AEF862,1C1C9A30984C8BC305D9A7060D82172C0839CDF7F429520FB60B19AE5CAAE0C7,2022-02-14 17:51:59.850,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,refraction,swap,LUNA,pLUNA,pLUNA,...,11.25,0.0,2022-02-14 17:51:59.850,1C1C9A30984C8BC305D9A7060D82172C0839CDF7F429520FB60B19AE5CAAE0C7,xPRISM,561.52323,PRISM,0.99064,566.82875,swap

**yLUNA**

In [288]:
dfxx[dfxx.asset_given_y=='yLUNA'].tx_id_x.nunique()/rdf.tx_id.nunique()*100

9.06344410876133

In [289]:
dfxx[dfxx.asset_given_y=='yLUNA'].asset_received.value_counts()

pLUNA     258
UST        63
LUNA       45
yLUNA      14
xPRISM      6
cLUNA       4
Name: asset_received, dtype: int64

In [290]:
dfxx[(dfxx.asset_given_y=='yLUNA')&(dfxx.asset_received=='yLUNA')]

,block_timestamp_x,tx_id_x,tx_id_y,block_timestamp_y,user,operation_x,operation_y,asset_given_x,asset_received_x,asset_given_y,...,delta,delta1,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,operation
139,2022-02-15 14:10:44.604,1A2FE0B44FD998B1208A52AE13CB801D5AC9B579F17E7FF58939917EDA4AD5E1,55EA71BD30FC277DE042270C48FC77496F25F9C411FCCC913DFB72EB4411D1D4,2022-02-15 14:11:23.207,terra19c8xtqvqc7sw4datmgakgjpmnnlymmm7dmftts,refraction,swap,LUNA,yLUNA,yLUNA,...,0.633333,62.000000,2022-02-15 15:13:23.929,1DB40B093AD693D08DDFD307BCED97E8F861233C13A91E134F89CB70CC44DD30,yLUNA,64720.182790,PRISM,85.778341,754.504951,swap
205,2022-02-15 00:38:29.139,18FA185C40D9EDAC8E65DA7E5DE348CFA6E5F19C86975A25E66DE5C176EBD7A5,B79BAF7E51F30D2B615800A7A40E884A3ED9BDBF7C124E972DDB3C1BC4FB580B,2022-02-15 02:07:54.361,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,89.416667,103.000000,2022-02-15 03:50:54.368,3DFB4B3CD27C6EA0ADE445CC55E3A41303696495C491E47D406AC3B42C5E54EA,yLUNA,62.010194,PRISM,71.947012,0.861887,swap
208,2022-02-14 18:31:26.286,11ADE01EC060A410BB69F27613594D0C9D221D787F82E93BD38B8E31DA2DB96B,6C2E3E2CCC2B8227AD421ABAFCCF184571BD52D9740C4CCC7BBB6C46ACEC552C,2022-02-14 18:53:36.889,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,22.166667,81.316667,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
210,2022-02-14 18:01:40.808,C87F6CE33AA1F2CCDED874FE53E42EF643B70AB6A20FCAC8B4086FBC1399361D,6C2E3E2CCC2B8227AD421ABAFCCF184571BD52D9740C4CCC7BBB6C46ACEC552C,2022-02-14 18:53:36.889,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,51.933333,81.316667,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
212,2022-02-14 20:37:27.763,061615D7308364AEAB513E1EF407BEBC394366674A1A59E531A81E32916174B0,898B77102925FF37D425254B8BAD12BF30126E0BB055A63701C7EB022B454300,2022-02-14 20:41:46.821,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,4.316667,4.483333,2022-02-14 20:46:16.550,7BAF77FF165F76BC5E9BF381D886333277D118617B1BE07A99B9C8276C066707,yLUNA,7158.867646,PRISM,69.571816,102.898962,swap
214,2022-02-14 19:12:51.377,1E7DAC2ECF71A5CABC7165C22FE04F8A7BA36EE8FD631FABC25AC2BD3A065DF4,131A198C8FAC93FEC8B8F9CEC76BB9DE806334567E22A756930994D6C5F94E01,2022-02-14 20:00:57.477,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,48.100000,13.966667,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
216,2022-02-14 20:32:57.600,1BAA2B5D3646D82E5145B2F257E3F1156A914EE1CE2E039B89626E51374BD00C,061615D7308364AEAB513E1EF407BEBC394366674A1A59E531A81E32916174B0,2022-02-14 20:37:27.763,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,4.500000,8.800000,2022-02-14 20:46:16.550,7BAF77FF165F76BC5E9BF381D886333277D118617B1BE07A99B9C8276C066707,yLUNA,7158.867646,PRISM,69.571816,102.898962,swap
218,2022-02-14 18:53:36.889,6C2E3E2CCC2B8227AD421ABAFCCF184571BD52D9740C4CCC7BBB6C46ACEC552C,1E7DAC2ECF71A5CABC7165C22FE04F8A7BA36EE8FD631FABC25AC2BD3A065DF4,2022-02-14 19:12:51.377,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,19.233333,62.083333,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
220,2022-02-14 20:03:13.422,095CE8F50ED55E0220ECEB1C36A5472EE03C658A82B37F0307ACBA33BCAFDB06,DA8AC42CCB20902141395DDC8B5EE107BC2F9FAB8D398167D95606662A615117,2022-02-14 20:04:18.475,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,1.083333,10.616667,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
223,2022-02-14 20:00:57.477,131A198C8FAC93FEC8B8F9CEC76BB9DE806334567E22A756930994D6C5F94E01,095CE8F50ED55E0220ECEB1C36A5472EE03C658A82B37F0307ACBA33BCAFDB06,2022-02-14 20:03:13.422,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,2.250000,11.700000,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
225,2022-02-14 20:04:18.475,DA8AC42CCB20902141395DDC8B5EE107BC2F9FAB8D398167D95606662A615117,9550E80D73C723CD3BFBB436E38EC9BAA06CAC8D811744902EC88CDC22271517,2022-02-14 20:06:34.493,terra1jtmpyx3wdpswham92nzatwpwc6h4ulkv2xrdaa,refraction,swap,LUNA,yLUNA,yLUNA,...,2.266667,8.350000,2022-02-14 20:14:56.399,A0B64EA4620CD8AB713A8D58BD67619B344011C47E9FF6129F17793929F96D05,yLUNA,20319.699534,PRISM,69.396426,292.806137,swap
694,2022-02-14 19:10:09.861,758A3BD37D00CAB87B56A55A7418DBDFECBE14D1E2EA211643BC955E6492181A,6815F97BF339EB1F2B968373DD978CDBB169FC9E325239D9BA161335B1D40E51,2022-02-14 19:13:04.996,terra19vxw82vg2efatx2q5a908yc66qpp4d6ww39new,refraction,swap,LUNA,yLUNA,yLUNA,...,2.916667,8.916667,2022-02-14 19:22:00.023,F8366BA32E98D01B67FB2AC160297BA51F950BF7BC7C5CCD6049E6E2D9D3E870,yLUNA,2281.505488,PRISM,64.411078,35.421011,swap
860,2022-02-15 05:07:08.528,5663E3BF593C117E708A7491AE351F0C1905E7028E237BE58C591D3EEC64C4CF,ADC83965321FD708680DB4609081299FFC3C19173222FD144392651A6F839CB6,2022-02-15 05:14:58.598,terra19f5pesculpsv57kjz3km2xhheqt7nf2x5xhgar,refraction,swap,LUNA,yLUNA,yLUNA,...,7.833333,3.516667,2022-02-15 05:18:30.309,FB4FE5DD02C8B8198E7F271E05223957728D845438E5BF77096A1108A108AED7,yLUNA,2780.658842,PRISM,78.999623,35.198381,swap
925,2022-02-14 16:28:31.255,88143A6592C29587A23F34DB56E6075DAD7B92A9FCABE98EAD70B681F366D10A,28C8C5089180C1C50C3F84B4B8BF7BED15E4B251B9913E4EE98D69157E8C7BE9,2022-02-14 16:29:50.323,terra1fles60tlqs5vll66qqazq26fmcggy8aeuhj7ez,refraction,swap,LUNA,yLUNA,yLUNA,...,1.316667,59.383333,2022-02-14 17:29:13.452,256B936484B663CB6676E61176950B6B072CCC4232C477A7CB62BC50B78D75F7,yLUNA,3388.415736,PRISM,63.070042,53.724647,swap

**pLUNA**

In [291]:
dfxx[dfxx.asset_given_y=='pLUNA'].tx_id_x.nunique()/rdf.tx_id.nunique()*100

12.712061352544737

In [292]:
dfxx[dfxx.asset_given_y=='pLUNA'].asset_received.value_counts()

yLUNA     395
UST        76
LUNA       48
xPRISM     18
cLUNA       8
pLUNA       2
Name: asset_received, dtype: int64

In [297]:
dfxx[(dfxx.asset_given_y=='pLUNA')&(dfxx.asset_received=='pLUNA')]

,block_timestamp_x,tx_id_x,tx_id_y,block_timestamp_y,user,operation_x,operation_y,asset_given_x,asset_received_x,asset_given_y,...,delta,delta1,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,operation
116,2022-02-14 17:01:20.044,D058E4F9B483C0651BFCC3E351DA0B82F9C62435034BC162D2B57547C0693F5B,279588654E5AF13E1654155AE14C7331F10E4A63BE8F84F5A42A1F79CE5769FC,2022-02-14 17:02:31.462,terra1eq45lzd0299wehcg8j38x3dyrelzqqjh6y6h6e,refraction,swap,LUNA,pLUNA,pLUNA,...,1.183333,8.366667,2022-02-14 17:10:54.093,DA3F9FF1BC4B210D714310BB6B58E1B61D6ECBE082C268E373E62EBFA01118C6,pLUNA,12365.109503,PRISM,72.118268,171.455996,swap
331,2022-02-14 21:02:07.666,E58A09DEA8176BFD20EEADE35DBBCB850AA857BBA72EC9BD93ED70C9E1FBB893,658751AE2155B29B95E7B1708BCF03C8C5E4BB162E14239636E9A79AA580F80A,2022-02-14 21:03:27.041,terra1ahrljf62dmky9eaf45v4sydcshzusma8nklczd,refraction,swap,LUNA,pLUNA,pLUNA,...,1.316667,17.616667,2022-02-14 21:21:04.469,1E7374AFF0485BAD837154620283F4F6AAB3323092185E26F4D76B86388C0C69,pLUNA,2258.451534,PRISM,67.638091,33.390232,swap

### Initial txs

In [50]:
cols = refract_df_pol.columns

In [38]:
swaps_df_all

,block_timestamp,tx_id,asset_received,offer_amount,asset_given,price,return_amount,user,operation
0,2022-02-20 06:14:57.002,A3467AA84D7A82946F0D2106BE2C13F7D3667CCA2397AF7E25B8B41A54583759,PRISM,10.000000,UST,0.325811,30.692599,terra1ey0tpp3uxgruu4ameu7kqa4m8jk42uvrrwx2ku,swap
1,2022-02-20 06:05:06.692,C5FCEB25507DEFE2FF4EC2DDCC12BE9B7722679C6E628E65181E703AF1EEC144,PRISM,1000.000000,UST,0.325744,3069.898424,terra17f3e8gzl446eyf02ux3fdph67dtlx8upuuw57h,swap
2,2022-02-20 05:54:58.241,A5B415D2C9B1D77A08A86CAE4A2971484B06246EC3AB459EB054304348B7D270,PRISM,228.782839,xPRISM,1.019998,224.297373,terra167yajzyme0hhqrnylcuz0vwx6azgsjm2h4ch58,swap
3,2022-02-20 05:13:09.566,05C441AA02985D6C48ABB92022CE18DB44A67F5C63CE95F4F81344D40696AF0B,PRISM,3.000000,LUNA,0.006999,428.658128,terra1rj627ddw7209q3p6r5l8n98we2nsymm658t5lf,swap
4,2022-02-20 04:40:46.295,20FC5A05C8689E41BB439ACBAD24C4DE1A0DF6041E59D023923A91258A64F16E,PRISM,9.114547,LUNA,0.007009,1300.338609,terra1wyjrkw4nhrykfd9f2verj7yqepqxq8rsuzyeu8,swap
...,...,...,...,...,...,...,...,...,...
17644,2022-02-14 23:35:30.210,E18ABDDD66C207E73B6ADECF92671EFF11A81A1D3BAF4A85A26EE4CA3D5A7573,UST,44.408459,PRISM,2.494755,17.800729,terra1v9mvh6asw0accuashn0aed79cc24mw9fqx5r5h,swap
17645,2022-02-14 22:45:36.711,2DE88619DCC498411F8C9DCB70A0E7EE4F4E48E74CEF1B51290681E7BD4E1738,NaN,NaN,NaN,NaN,NaN,terra1nnrxspdmsd4dnrl2g60hmj6sypd3a9ftdzn9dl,swap
17646,2022-02-14 21:13:10.470,BC5DE9CB2E5AEF44C72ADBABBF81957D76E1053639246B7FF45EE175B7146259,UST,1496.201826,PRISM,2.678778,558.538940,terra1rumkce8lqyec0as92xswya5rx4phcge0maxem4,swap
17647,2022-02-14 15:05:40.117,C2D2D4362356567EE8698DE4FC2B06D8A9927273BCA1DACDA11D52763FDD5805,NaN,NaN,NaN,NaN,NaN,terra1rlj2ga43njzkng00zw6t867fmsu49vqa52dxkx,swap
17648,2022-02-14 13:29:45.063,99865263D174877361F0F31AF0396996710A2FA04DD97DF911FC16CB9FDDC0BD,NaN,NaN,NaN,NaN,NaN,terra1380y9770gvzjr52zm35sq9prklmrrj6vu533k4,swap

In [39]:
init_swap = swaps_df_all[swaps_df_all.asset_given.isin(['UST','LUNA'])]\
                .rename(columns={'return_amount':'amount'})
init_swap['action'] = None

In [40]:
init_refract = refract_df_pol[refract_df_pol.asset_given=='LUNA']

In [41]:
init = init_swap[cols].append(init_refract)

In [42]:
init.operation.value_counts(normalize=True)

refraction    0.502488
swap          0.497512
Name: operation, dtype: float64

In [43]:
x = init.groupby('user').block_timestamp.min().reset_index()
inits = init[(init.block_timestamp.isin(x.block_timestamp.values))]

In [44]:
inits[['user','block_timestamp','operation']].drop_duplicates().operation.value_counts()

swap          1815
refraction    1780
Name: operation, dtype: int64